/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Source Serif Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Serif Pro', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  background-color: #233237;
  position: fixed;
  justify-content: space-between;
  width: 1000px;
}
header img {
  width: 15rem;
  height: 15rem;
  margin: 0 10rem;
}
@media (max-width: 515px) {
  header {
    width: 100%;
  }
  header img {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
  }
}
.btn-container {
  width: 100%;
  padding: 4rem 1rem;
  height: 15rem;
  display: flex;
  justify-content: space-evenly;
}
.btn-container .login-btn {
  background-color: #233237;
  color: white;
  margin: 10px 10px;
  cursor: pointer;
  padding: 10px 5%;
  width: 25rem;
  font-size: 2rem;
  border-radius: 10px;
  border: 0;
  margin-right: 1rem;
}
.btn-container .login-btn:hover {
  background-color: white;
  color: #233237;
}
.btn-container .contact-btn {
  background-color: #233237;
  color: white;
  margin: 10px 10px;
  cursor: pointer;
  padding: 10px 5%;
  width: 25rem;
  font-size: 2rem;
  border-radius: 10px;
  border: 0;
}
.btn-container .contact-btn:hover {
  background-color: white;
  color: #233237;
}
@media (max-width: 515px) {
  .btn-container {
    flex-direction: column;
    width: 75%;
    height: 10rem;
  }
  .btn-container .login-btn {
    width: 90%;
    margin: 1rem auto 2rem;
    padding-bottom: 3rem;
  }
  .btn-container .contact-btn {
    width: 90%;
    margin: auto;
    padding-bottom: 3rem;
  }
}
footer {
  display: flex;
  background-color: #233237;
  padding: 3rem 0 ;
  justify-content: center;
}
.home {
  display: flex;
  flex-direction: column;
  background-color: #8eaebd;
}
.home .cta-content {
  margin: 20rem 0 5rem 0;
  display: flex;
  justify-content: space-between;
}
.home .cta-content .cta-img {
  background-color: gray;
  border: 1px solid gray;
  width: 50rem;
  height: 35rem;
  margin: 0 0 0 10rem;
}
.home .cta-content .cta-text {
  text-align: end;
  margin: 5rem 10rem 0 0;
}
.home .cta-content .cta-text h1 {
  margin: 1rem 0;
  color: white;
}
.home .cta-content button {
  background-color: #8eaebd;
  color: white;
  margin: 10px 10px;
  cursor: pointer;
  padding: 10px 5%;
  width: 24rem;
  font-size: 2rem;
  border-radius: 10px;
  border: 0;
  margin-right: 1.5rem;
}
.home .cta-content button:hover {
  background-color: white;
  color: #8eaebd;
}
.home .a-content {
  display: flex;
}
.home .a-content img {
  width: 50rem;
  height: 35rem;
  margin-left: 10rem;
  background-color: gray;
}
.home .a-content .a-content-txt {
  text-align: end;
  padding-right: 10rem;
  padding-left: 1rem;
  padding-top: 5rem;
  width: 100%;
}
.home .reverse {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.home .reverse .reverse-txt {
  width: 35rem;
  padding: 1rem;
  margin-left: 10rem;
}
.home .reverse .reverse-img {
  border: 1px solid gray;
  width: 50rem;
  height: 35rem;
  margin-right: 10rem;
  background-color: gray;
}
.home .cta-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 9rem;
}
.home .cta-footer h2 {
  font-size: 2rem;
  padding-top: 2rem;
}
.home .cta-footer .cta-ft-btn {
  background-color: #233237;
  color: white;
  margin: 10px 10px;
  cursor: pointer;
  padding: 10px 5%;
  width: 30rem;
  font-size: 2rem;
  border-radius: 10px;
  border: 0;
  margin-right: 10rem;
}
.home .cta-footer .cta-ft-btn:hover {
  background-color: white;
  color: #233237;
}
.home .cta-footer input {
  width: 25rem;
  height: 5rem;
  border-radius: 10px;
  font-size: 3rem;
}
@media (max-width: 515px) {
  .home .cta-content {
    width: 100%;
  }
  .home .cta-content .cta-img {
    display: none;
  }
  .home .cta-content .cta-text {
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 6rem;
  }
  .home .cta-content .cta-text::first-letter {
    font-size: 10rem;
    color: #233237;
  }
  .home .a-content {
    flex-direction: column;
    width: 100%;
    align-content: center;
  }
  .home .a-content .a-content-img {
    width: 100%;
    margin: auto;
  }
  .home .a-content .a-content-img img {
    width: 25rem;
    height: 25rem;
    margin: auto 0 0 13rem;
    border: 3px solid white;
    border-radius: 15px;
  }
  .home .a-content .a-content-txt {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 2rem;
  }
  .home .reverse {
    width: 100%;
    flex-direction: column-reverse;
    align-content: center;
  }
  .home .reverse .reverse-img {
    width: 25rem;
    height: 25rem;
    margin: auto;
    border: 3px solid white;
    border-radius: 15px;
  }
  .home .reverse .reverse-txt {
    width: 100%;
    margin: auto;
    padding-top: 3rem;
    text-align: center;
    padding: 2rem;
  }
  .home .cta-footer {
    width: 100%;
    flex-direction: column;
    align-content: center;
    padding: 2rem;
  }
  .home .cta-footer h2 {
    font-size: 3rem;
    text-align: center;
  }
  .home .cta-footer h2::first-letter {
    font-size: 5rem;
  }
  .home .cta-footer input {
    width: 75%;
    margin: 2rem auto;
  }
  .home .cta-footer .cta-ft-btn {
    width: 100%;
    margin: auto;
  }
}
