header{
    display: flex;
    background-color: @navBar-color;
    position: fixed;
    justify-content: space-between;
    width: 1000px;
    
    img{
        width: 15rem;
        height: 15rem;
        margin: 0 10rem;
    }
}