.home{
    display: flex;
    flex-direction: column;
    background-color: @bg-color;
    
    .cta-content{
        margin:20rem 0 5rem 0;
        display: flex;
        justify-content: space-between;
        .cta-img{
            background-color: gray;
            border: 1px solid gray;
            width: 50rem;
            height: 35rem;
            margin:0 0 0 10rem;
        }
        .cta-text{
            text-align: end;
            margin: 5rem 10rem 0 0;
            h1{
                margin: 1rem 0;
                color: white;
            }
        }
        button{
            .custom-button(24rem, #8eaebd, white);
            margin-right: 1.5rem;
        }
        
    } // end'cta-content'

    .a-content{
        //border: 1px solid red;
        display: flex;
        img{
           width: 50rem;
           height: 35rem; 
           margin-left: 10rem;
           background-color: gray;
           
        }
        .a-content-txt{
            text-align: end;
            padding-right: 10rem;
            padding-left: 1rem;
            padding-top: 5rem;
            width: 100%;
            
        }

    } //end 'a-content';

    .reverse{
        display: flex;
        
        margin-top: 5rem;
        margin-bottom: 10rem;
        .reverse-txt{
            width: 35rem;
            padding:1rem;
            margin-left:10rem; 
            
        }

        .reverse-img{
            border: 1px solid gray;
            width: 50rem;
            height: 35rem; 
            margin-right: 10rem;
            background-color: gray;
            
        }
    }// end 'reverse section'

    .cta-footer{
        display: flex;
        justify-content: space-between;
        padding-left: 9rem;
        
        h2{
            font-size: 2rem;
            padding-top: 2rem;
        }

        .cta-ft-btn{
            .custom-button(30rem, #233237, white);
            margin-right: 10rem;
        }

        input{
            width: 25rem;
            height: 5rem;
            border-radius: 10px;
            font-size: 3rem;
        }
    }// end 'cta-footer'


    //beginning contact page CSS
    .contact-content{
        //border: 1px solid red;
        padding-top: 5rem;
        margin-top: 20rem;

        .page-heading{
            //border: 1px solid red;
            width: 80%;
            height: 10rem;           
            margin: 2rem auto;

            h2{
                text-align: center;
                padding-top: 2rem;

            }
        }

        .tm{
            display: flex;
            justify-content: space-evenly;
            .tm-img{
                width: 25rem;
                height:25rem;
                margin-left: 2rem;
                
                img{
                    width: 95%;
                    height: 95%;
                    border:10px solid white;
                    border-radius: 50%;
                    //background-color: gray;
                }
            }
            .tm-text{
                width: 35rem;
                height: 35rem;
                padding-right: 5rem;
                margin: 1rem 3rem 0 1rem;
            }


        }



    }// end of contact page CSS


    @media @mobile{

        .cta-content{
            width: 100%;

            .cta-img{
                display: none;
            }
            .cta-text{
                width: 100%;
                margin: auto;
                text-align: center;
                line-height: 6rem;
                &::first-letter{
                    font-size: 10rem;
                    color:@navBar-color;
                }
            }
            
        } // end of 'cta-content'

        .a-content{
            flex-direction: column;
            width: 100%;
            align-content: center;

            .a-content-img{
                width: 100%;
                margin: auto;
                
                img{
                    width: 25rem;
                    height: 25rem;
                    margin: auto 0 0 13rem;
                    border: 3px solid white;
                    border-radius: 15px;
                    
                }
            }

            .a-content-txt{
                width: 100%;
                text-align: center;
                margin: auto;
                padding: 2rem;
            }

        }//end of 'a-content'


        .reverse{
            width: 100%;
            flex-direction: column-reverse;
            align-content: center;
            .reverse-img{
                width: 25rem;
                height: 25rem;
                margin: auto;
                border: 3px solid white;
                border-radius: 15px;
            }

            .reverse-txt{
                width: 100%;
                margin: auto;
                padding-top: 3rem;
                text-align: center;
                padding: 2rem;

            }

        }//end of 'reverse'

        .cta-footer{
            width: 100%;
            flex-direction: column;
            align-content: center;
            padding: 2rem;
            h2{
                font-size: 3rem;
                text-align: center;

                &::first-letter{
                    font-size: 5rem;
                }
            }

            input{
                width: 75%;
                margin: 2rem auto;
            }

            .cta-ft-btn{
                width: 100%;
                margin: auto;
            }



        }//end of 'cta-footer'

        //contact page mobile CSS
        .contact-content{
            padding-top: 2rem;
            margin-top: 10rem;

            .page-heading{
                width:100%;
                
                h2{
                    color: white;
                    font-size: 5rem;
                }

            }
            .tm{
                flex-direction: column;
                width: 100%;
                //border: 1px solid red;

                .tm-img{
                    margin: 2rem auto 0;

                    img{
                        border-radius: 25%;
                    }
                }

                .tm-text{
                    margin: 5rem auto;
                    text-align: center;
                    height: 25rem;

                    h2{
                        width: 100%;
                        margin-left: 2rem;

                    }

                    p{
                        width: 100%;
                        margin-left: 2rem;
                    }
                }
            }


        }//end of contact page mobile CSS

    }//end of media query

}// end 'home container'