.home{
    display: flex;
    flex-direction: column;
    //background-color: @bg-color;
    
    .cta-content{

        
        display: flex;
        justify-content: space-between;
        .cta-img{
            //border: 1px solid red;
            width: 60%;
            height: auto;

        }
        .cta-text{
            //border: 1px solid red;
            width: 40%; 
            height: 657px;
            margin-top: 10rem;
            background-color: @btn-bg-color;           
           .cta-txt-wrapper{
            background-color: @inner-color;
            //border: 1px solid red;
            width:80%;
            height:80%;
            margin:7rem 1rem 2rem 9rem;
            border-radius: 25px;
            .txt-ele{
                //border: 1px solid red;
                padding: 6rem 18rem 3rem;
                text-align: center;
                line-height: 1.25;
                color: white;
            }//end of txt-ele div


            .sign-up-btn{
                width: 50%;
                margin-left: 17rem;
                margin-top: 2rem;

                button{
                    .custom-button(25rem, #b56357, white);
                    margin-right: 1.5rem;
                    text-align: center;
                    }
            }// end of sign-up-btn div            
           }
        }        
    } // end'cta-content'

    .slogan{
        width: 50%;
        height: 10rem;
        margin: 1rem auto;
        .slogan-txt{
            height: 8rem;
            margin: 5px auto;
            h1{
                text-align: center;
                margin: 15px 0;
                font-size: 6rem;
                color:@border;
                font-weight: 800;
                letter-spacing: 1rem;
                font-family: cursive;
            }
        }
    }//end of slogan div

    .a-content{
        //border: 1px solid red;
        margin-top: 5rem;
        display: flex;
        justify-content: space-evenly;
        img{
           width: 55rem;
           height: 40rem; 
           margin-left: 10rem;
           margin-right: 10rem;
           background-color: gray;
           
        }
        .a-content-txt{
            text-align: end;
            padding-right: 10rem;
            padding-left: 1rem;
            padding-top: 5rem;
            width: 45rem;
            
        }

    } //end 'a-content';

    .reverse{
        display: flex;
        
        margin-top: 10rem;
        margin-bottom: 10rem;
        .reverse-txt{
            width: 50%;
            padding: 1rem;
            margin-left: 10rem;
            padding-left: 23rem;
            
        }

        .reverse-img{
            //border: 1px solid gray;
            width: 53rem;
            // height: 35rem; 
            margin-right: 10rem;
            padding:1rem;
            //background-color: gray;
            
        }
    }// end 'reverse section'

    .third-content{
        display: flex;
        margin: 0 auto;
        .third-content-img{
            width: 55rem;
            height: auto;
        }
        .third-content-txt{
            //border: 1px solid red;
            width: 63rem;
            text-align: end;
            padding: 2rem;
            margin: 1rem 1rem 0rem 8rem;
        }
    }//end of third-content

    .cta-footer{
        //border: 1px solid gray;
        
        padding-left: 9rem;
        .ft-cta-wrapper{
            background-color:@btn-bg-color;
            width: 80%;
            margin: 2rem 14rem;
            //border: 1px solid red;
            padding: 3rem;
            border-radius: 25px;
            display:flex;
            justify-content: space-evenly;
            .footer-cta-txt{
                width: 30%;
                font-size: 2rem;
                padding-top: 2rem;
            }
            .ft-input{
                width: 30%;
                margin-top: 1rem;
                input{
                    width: 25rem;
                    height: 5rem;
                    border-radius: 10px;
                    font-size: 3rem;
                }
            }
            .ft-btn{
                width: 30%;

                .cta-ft-btn{
                    .custom-button(30rem, #b56357, white);
                    margin-right: 10rem;
                    height: 6rem;
                }
            }

        }// end of ft-cta-wrapper div
        
    }// end 'cta-footer'


    //beginning contact page CSS
    .contact-content{
        //border: 1px solid red;
        padding-top: 5rem;
        margin-top: 10rem;
        
        
        .page-heading{
            //border: 1px solid red;
            width: 80%;
            height: 10rem;           
            margin: 2rem auto;

            h2{
                font-size: 5rem;
                text-align: center;
                padding-top: 2rem;
                width: 45%;
                margin: 0 auto;

            }

        }
        .folder{
            display:flex;
            flex-wrap: wrap;
            align-content: center;
            width: 73%;
            margin: 1rem auto;
            
            .tm{
                margin-left: 5rem;
                display: flex;
                justify-content: space-evenly;
                
                .tm-img{
                    
                    width: 25rem;
                    height:25rem;
                    margin-left: 2rem;
                    
                    img{
                        
                        width: 95%;
                        height: 95%;
                        border:10px solid @border;
                        border-radius: 50%;
                        //background-color: gray;
                    }
                }
            } // end of tm 
            

            
            .board{
                height: 30rem;
                width: 26%;
                flex-direction: column;
                align-content: center;
                margin: 5rem 5px;
                
                    .tm-text{
                    text-align: center;   
                    height: auto;
                    h2{
                        padding-top: 10px;
                        font-size: 2.8rem;
                    }
                    // .tm-content{
                        
                    // }
                    .panel-btns{
                    //border: 1px solid red;
                        width: 49%;
                        margin: 6rem 10rem 3px;
                        button{
                        .custom-button(15rem, b56357, white);
                        }   
                    } 
                    .hide-btn{
                        
                            display: none;
                    }
                
                
                }
                    .tm-content{
                    display: none;
                    //border: 1px solid gray;
                        margin: 1rem;
                        //padding: 1rem 10rem;
                        text-align: center;

                    }
                    // end of panel-btns

                    
                    

                    .toggle-on{
                        display: block;
                    }

                }// end of board
             
            

        }//end of folder class


    }// end of contact page CSS


    @media @mobile{

        width: 100%;
        .cta-content{
            width: 100%;
            margin: 5rem 0 0;
            .cta-img{
                display: none;
            }
            .cta-text{
                width: 100%;
                height: 45rem;
                margin: 10rem 0 0;
                .cta-txt-wrapper{
                margin: 6rem auto;
                .txt-ele{
                    width: 50%;
                    padding: 5rem 1rem;
                    height: 20rem;
                    margin: 0 10rem;
                    h1{
                        font-size: 2rem;
                    }    
                }
                
                .txt-input{
                    width: 60%;
                    margin-left: 8rem;  
                }
                .sign-up-btn{
                    width: 70%;
                    margin: 1rem 7rem;
                }

                }//end of cta-txt-wrapper div
            }//end of cta-text div
            
        } // end of 'cta-content'

        .a-content{
            flex-direction: column;
            width: 100%;
            align-content: center;
            margin: auto;

            .a-content-img{
                width: 100%;
                margin: auto;
                
                img{
                    width: 25rem;
                    height: 15rem;
                    margin: 5rem 12rem 1rem;
                    border: 3px solid white;
                    //border-radius: 15px;
                    
                }
            }

            .a-content-txt{
                width: 99%;
                text-align: center;
                
                padding: 2rem;
            }

        }//end of 'a-content'


        .reverse{
            width: 99%;
            flex-direction: column-reverse;
            align-content: center;
            .reverse-img{
                width: 25rem;
                height: auto;
                margin: auto;
                border: 3px solid white;
                border-radius: 15px;
            }

            .reverse-txt{
                width: 100%;
                margin: auto;
                padding-top: 3rem;
                text-align: center;
                padding: 2rem;

            }

        }//end of 'reverse'

        .third-content{
            width: 100%;
            flex-direction: column;
            align-content: center;
            .third-content-img{
                width: 25rem;
                margin: 0 auto;
            }
            .third-content-txt{
                width: 100%;
                margin: auto;
                text-align: center;
                padding: 2rem;
            }
        }


        .cta-footer{
            width: 100%;
            padding: 0 1px;
            .ft-cta-wrapper{
                width: 100%;
                margin: 1rem 0;
                padding: 1rem;
                flex-direction: column;
                .footer-cta-txt{
                    text-align: center;
                    width: 100%;
                    h2{
                        font-size:2rem;
                    }
                }
                .ft-input{
                    width: 100%;
                    input{
                        margin: 0 11rem;
                    }
                }
                .ft-btn{
                    width: 65%;
                    margin: 1 10rem;
                    .cta-ft-btn{
                        height: 4rem;
                        width: 25rem;
                    }

                }

            
            }//end of ft-cta-wrapper



        }//end of 'cta-footer'

        //contact page mobile CSS
        .contact-content{
            padding-top: 2rem;
            margin-top: 10rem;

            .page-heading{
                width:100%;
                
                h2{
                    color: @navBar-color;;
                    font-size: 5rem;
                }

            }

            .folder{

                .tm{
                    margin: 1px;
                    flex-direction: column;
                    width: 100%;
                    height: 20rem;
                    align-content: center;
                    //border: 1px solid red;
    
                    .tm-img{
                        width: 50%;
                        margin: 1rem auto;
                        
                        img{
                            margin: 0 1rem;
                            width: 25rem;
                            height: auto;
                            border-radius: 25px;

                        }
                    }
                }
               .board{
                //border: 1px solid red;
                width: 100%;
                margin:1rem auto;
                .tm-text{
                        width: 100%;
                        
                        padding: 0;
                        

                        h2{
                            width:55%;
                            text-align: center;
                            margin: 0 94px;
                        }
                        .panel-btns{
                            width: 50%;
                            margin: 5px 10rem;
                            
                        }
                        .tm-content{
                            width: 100%;
                            P{
                                line-height: 1.85;
                            }
                        }
                    }
            } //end of board 
            }// end of folder
            


        }//end of contact page mobile CSS

    }//end of media query

}// end 'home container'